body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
header {
    text-align: center;
    background-color: rgb(61, 72, 102);
}
h2 {
    margin-top: 0;
}
.form-group {
    margin-bottom: 20px;
}

h1 {
    margin: 0px;
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
textarea {
    height: 100px;
}
input[type="submit"] {
    background-color: #007bff;

    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
input[type="submit"]:hover {
    /*background-color: #45a049;
    */
}


.horizontal-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.horizontal-menu li {
    display: inline;
}

.horizontal-menu li a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: lightcoral;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

.horizontal-menu li a:hover {
    background-color: #f2f2f2;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

footer {
    background-color: rgb(61, 72, 102);
    color: black;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}