body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(61, 72, 102);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0px;
    text-align: center;
}
.container {
    width: 80%;
    margin: 20px auto;
}
.job {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.job h2 {
    margin-top: 0;
}

.horizontal-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.horizontal-menu li {
    display: inline;
}

.horizontal-menu li a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: lightcoral;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

.horizontal-menu li a:hover {
    background-color: #f2f2f2;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

footer {
    background-color: rgb(61, 72, 102);
    color: black;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}